.idea/
*.DS_Store
/venv
*.db
*.pyc
*.sym
.todo
*.env
.env

# Uploaded files 
backend/server/static/uploads/*
!backend/server/static/uploads/.placeholder

# NPM
/extension/node_modules
/extension/build
npm-debug.log*